<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jackytodopro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jackytodopro.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jackyTodoPro</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jackyTodoPro</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TodoContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:js6udzbv2t.database.windows.net,1433;Initial Catalog=todoPro;User ID=todoPro@js6udzbv2t;Password=a@1234567" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Todo.Api.Models.TodoContext, Todo.Api" MigrationConfiguration="Todo.Api.Migrations.Configuration, Todo.Api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TodoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:js6udzbv2t.database.windows.net,1433;Initial Catalog=todoPro;User ID=todoPro@js6udzbv2t;Password=a@1234567</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>